NODE_ENV=development 
# NODE_ENV=production
DEBUG=fs-auth*

BACKEND_PORT=5002
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173 # Since we are using proxy server from the frontend, the backend url is the same as frontend.

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
